SmartHomeDefinition.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Openhab">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="Lichtgruppe" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ItemLink">
        <xs:all>
            <xs:element name="link" type="xs:string" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Light">
        <xs:all>
            <xs:element name="On" type="Item" minOccurs="1" maxOccurs="1" />
            <xs:element name="Off" type="Item" minOccurs="1" maxOccurs="1" />
        </xs:all>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="Item">
        <xs:all>
            <xs:element name="tags">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="replacerTag" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="item.link" type="ItemLink" />
        </xs:all>
        <xs:attribute name="enable" type="xs:boolean" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="icon" type="xs:string" />
        <xs:attribute name="unit" type="Unit" />
        <xs:attribute name="format" default="%.1f" type="Format" />
        <xs:attribute name="function" type="Function" />
        <xs:attribute name="channel" default="KNX" type="Channel" />
        <xs:attribute name="read" type="Read" />
        <xs:attribute name="assignment" type="Area" />
    </xs:complexType>
    <xs:complexType name="Shutter">
        <xs:all>
            <xs:element name="up" type="Item" />
            <xs:element name="down" type="Item" />
            <xs:element name="stop" type="Item" />
        </xs:all>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="direction" type="xs:string" />
        <xs:attribute name="statusTop" type="xs:boolean" />
        <xs:attribute name="statusBottom" type="xs:boolean" />
        <xs:attribute name="absolutPosition" type="xs:short" />
    </xs:complexType>
    <xs:complexType name="Sensor">
        <xs:all>
            <xs:element name="measurement" type="Item" />
        </xs:all>
        <xs:attribute name="sensorType" type="SensorType" />
        <xs:attribute name="assignment" type="Area" />
    </xs:complexType>
    <xs:group name="Lichtgruppe">
        <xs:sequence>
            <xs:element name="Lights">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Light" type="Light" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Sensors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Sensor" type="Sensor" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HomeVentilation" type="SystemAir" />
            <xs:element name="Health.System" type="Health" />
            <xs:element name="Shutters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shutter" type="Shutter" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="Unit">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="°C" />
            <xs:enumeration value="K" />
            <xs:enumeration value="U" />
            <xs:enumeration value="I" />
            <xs:enumeration value="%" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Format">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="%.0f" />
            <xs:enumeration value="%.1f" />
            <xs:enumeration value="%.2f" />
            <xs:enumeration value="ND" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOf">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="%.0f" />
            <xs:enumeration value="%.1f" />
            <xs:enumeration value="%.2f" />
            <xs:enumeration value="ND" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SensorType">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="Temperatur" />
            <xs:enumeration value="Feuchtigkeit" />
            <xs:enumeration value="Co2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemAir">
        <xs:all>
            <xs:element name="ventilation.intensity.read" type="Item" />
            <xs:element name="ventilation.intensity.write" type="Item" />
            <xs:element name="operation.mode.read" type="Item" />
            <xs:element name="operation.mode.write" type="Item" />
            <xs:element name="supply.air.temperature" type="Item" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Health">
        <xs:all>
            <xs:element name="Item.link" type="ItemLink" />
            <xs:element name="online" type="Item" />
            <xs:element name="last.seen" type="Item" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Photovoltaik">
        <xs:all>
            <xs:element name="self.consumption" type="Item" />
            <xs:element name="energy.production" type="Item" />
            <xs:element name="energy.consumption" type="Item" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="Area">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="WOZ" />
            <xs:enumeration value="KUE" />
            <xs:enumeration value="HWR" />
            <xs:enumeration value="GWC" />
            <xs:enumeration value="FLUEG" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Function">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="Light" />
            <xs:enumeration value="Health" />
            <xs:enumeration value="Shutter" />
            <xs:enumeration value="Sensor" />
            <xs:enumeration value="Photovoltaics" />
            <xs:enumeration value="Heating" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Channel">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="KNX" />
            <xs:enumeration value="MODBUS" />
            <xs:enumeration value="EKEY" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Read">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="R" />
            <xs:enumeration value="RW" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType>
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="fa-blinds" />
            <xs:enumeration value="fa-droplet" />
            <xs:enumeration value="fa-radar" />
            <xs:enumeration value="fa-temperature-three-quarters" />
            <xs:enumeration value="fa-cloud" />
            <xs:enumeration value="fa-lightbulb" />
            <xs:enumeration value="fa-quote-left" />
            <xs:enumeration value="fa-fan" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>