SmartHomeDefinitionV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:attribute name="type">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Switch"/>
				<xs:enumeration value="Number"/>
				<xs:enumeration value="Rollershutter"/>
				<xs:enumeration value="Contact"/>
				<xs:enumeration value="DateTime"/>
				<xs:enumeration value="Datetime-Control"/>
				<xs:enumeration value="String"/>
				<xs:enumeration value="Dimmer"/>
				<xs:enumeration value="Player"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="openhab">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="devices" type="devices"/>
				<xs:element name="groups" type="groups"/>
				<xs:element ref="knx.configuration"/>
				<xs:element ref="ical.configuration"/>
				<xs:element ref="ntp.configuration"/>
				<xs:element ref="ekey.configuration"/>
				<xs:element ref="door.configuration"/>
				<xs:element name="definition">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="area.map"/>
							<xs:element ref="idm.map" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="alexa.configuration"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="devices">
		<xs:sequence>
			<xs:element name="device" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="device"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="device">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="channel">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="channel"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="device.area" use="required">
			<xs:simpleType>
				<xs:restriction base="area"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="device.function">
			<xs:annotation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="LIGHT"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="function"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="device.comm.type" type="comm" default="KNX"/>
		<xs:attribute name="device.label" type="xs:string" use="required"/>
		<xs:attribute name="device.name" type="xs:string" use="required"/>
		<xs:attribute name="device.specification">
			<xs:simpleType>
				<xs:restriction base="device.specification"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="device.id" type="xs:int" use="required"/>
		<xs:attribute name="enable" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:simpleType name="function">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="NTP"/>
			<xs:enumeration value="LIGHT"/>
			<xs:enumeration value="SHUTTER"/>
			<xs:enumeration value="SENSOR"/>
			<xs:enumeration value="PINGDEVICE"/>
			<xs:enumeration value="CALENDAR"/>
			<xs:enumeration value="CONTROLUNIT"/>
			<xs:enumeration value="POWER"/>
			<xs:enumeration value="DOOR"/>
			<xs:enumeration value="ALEXA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ND"/>
			<xs:enumeration value="°C"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="%%"/>
			<xs:enumeration value="ppm"/>
			<xs:enumeration value="hPa"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="kW"/>
			<xs:enumeration value="Wh"/>
			<xs:enumeration value="kWh"/>
			<xs:enumeration value="mA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="channel">
		<xs:all>
			<xs:element name="link" type="xs:string"/>
			<xs:element name="connection">
				<xs:complexType>
					<xs:choice>
						<xs:element name="knx" type="knx"/>
						<xs:element name="ping" type="ping"/>
						<xs:element name="modbus" type="modbus"/>
						<xs:element ref="ical"/>
						<xs:element name="ntp">
							<xs:complexType/>
						</xs:element>
						<xs:element name="ekey"/>
						<xs:element name="http"/>
						<xs:element name="internal"/>
						<xs:element ref="alexa.communication"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="groups">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="group.ref">
							<xs:complexType>
								<xs:attribute name="refid" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alexa" type="alexa" minOccurs="0"/>
			<xs:element name="meta" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="meta.Attribute" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="value" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="mapref" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="refid2" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="format" type="format" use="required"/>
		<xs:attribute name="unit" type="unit" use="required"/>
		<xs:attribute name="access" type="access" use="required"/>
		<xs:attribute name="icon" use="required">
			<xs:simpleType>
				<xs:restriction base="icon"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="enable" type="xs:boolean" use="required"/>
		<xs:attribute name="persistence" type="xs:boolean" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute ref="type" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="extention" type="xs:string" use="optional"/>
		<xs:attribute name="channel.id" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:simpleType name="access">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="R"/>
			<xs:enumeration value="RW"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="area">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="WOZ"/>
			<xs:enumeration value="KUE"/>
			<xs:enumeration value="HWR"/>
			<xs:enumeration value="GWC"/>
			<xs:enumeration value="FLUEG"/>
			<xs:enumeration value="BUR"/>
			<xs:enumeration value="ANK"/>
			<xs:enumeration value="SLZ"/>
			<xs:enumeration value="BAD"/>
			<xs:enumeration value="KIZ"/>
			<xs:enumeration value="FLUDG"/>
			<xs:enumeration value="DCH"/>
			<xs:enumeration value="TKR"/>
			<xs:enumeration value="FLUKL"/>
			<xs:enumeration value="LAG"/>
			<xs:enumeration value="GAR"/>
			<xs:enumeration value="CAR"/>
			<xs:enumeration value="BSZ"/>
			<xs:enumeration value="ZEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="icon">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="fa-lightbulb"/>
			<xs:enumeration value="fa-blinds"/>
			<xs:enumeration value="fa-radar"/>
			<xs:enumeration value="fa-temperature-three-quarters"/>
			<xs:enumeration value="fa-cloud"/>
			<xs:enumeration value="fa-droplet"/>
			<xs:enumeration value="fa-signal"/>
			<xs:enumeration value="fa-octagon"/>
			<xs:enumeration value="fa-lock"/>
			<xs:enumeration value="fa-arrows-up-down"/>
			<xs:enumeration value="fa-hand"/>
			<xs:enumeration value="fa-compass"/>
			<xs:enumeration value="fa-location-dot"/>
			<xs:enumeration value="fa-up-to-line"/>
			<xs:enumeration value="fa-down-from-line"/>
			<xs:enumeration value="fa-stethoscope"/>
			<xs:enumeration value="fa-droplet-percent"/>
			<xs:enumeration value="fa-wind"/>
			<xs:enumeration value="fa-poo"/>
			<xs:enumeration value="fa-heat"/>
			<xs:enumeration value="fa-calendar-day"/>
			<xs:enumeration value="fa-toggle-on"/>
			<xs:enumeration value="fa-quote-left"/>
			<xs:enumeration value="fa-street-view"/>
			<xs:enumeration value="fa-power-off"/>
			<xs:enumeration value="fa-ban"/>
			<xs:enumeration value="fa-timer"/>
			<xs:enumeration value="fa-plug"/>
			<xs:enumeration value="fa-utility-pole"/>
			<xs:enumeration value="fa-circle-exclamation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="comm">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="KNX"/>
			<xs:enumeration value="MODBUS"/>
			<xs:enumeration value="PING"/>
			<xs:enumeration value="ICAL"/>
			<xs:enumeration value="NTP"/>
			<xs:enumeration value="EKEY"/>
			<xs:enumeration value="HTTP"/>
			<xs:enumeration value="ALEXA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="knx">
		<xs:all>
			<xs:element name="add1" type="knx.address"/>
			<xs:element name="add2" type="knx.address"/>
			<xs:element name="add3" type="knx.address"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="knx.address">
		<xs:all>
			<xs:element name="main.ga">
				<xs:complexType>
					<xs:all>
						<xs:element name="main" type="xs:short"/>
						<xs:element name="middle" type="xs:short"/>
						<xs:element name="sub" type="xs:short"/>
					</xs:all>
					<xs:attribute name="is.readable" type="xs:boolean" default="false"/>
					<xs:attribute name="dpt" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="listening.ga" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="main" type="xs:short"/>
						<xs:element name="middle" type="xs:short"/>
						<xs:element name="sub" type="xs:short"/>
					</xs:all>
					<xs:attribute name="is.readable" type="xs:boolean" default="true"/>
					<xs:attribute name="dpt" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ping">
		<xs:all>
			<xs:element name="ip" type="xs:string"/>
			<xs:element name="mac" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="format">
		<xs:restriction base="xs:string">
			<xs:enumeration value="%.0f"/>
			<xs:enumeration value="%.1f"/>
			<xs:enumeration value="%.2f"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="%1$td.%1$tm.%1$tY %1$tH:%1$tM"/>
			<xs:enumeration value="%s"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="modbus">
		<xs:all>
			<xs:element name="poller">
				<xs:complexType>
					<xs:all>
						<xs:element name="address" type="xs:int"/>
						<xs:element name="length" type="xs:short"/>
						<xs:element name="type" type="modbus.type" default="holding"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="address" type="xs:int"/>
			<xs:element name="read.value" type="modbus.read.value"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="modbus.type">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="holding"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modbus.read.value">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="uint16"/>
			<xs:enumeration value="int32"/>
			<xs:enumeration value="uint32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="group">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="group.ref">
				<xs:complexType>
					<xs:attribute name="refid" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="type" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="icon" type="icon" use="required"/>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="function" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="EQUALITY"/>
					<xs:enumeration value="AND"/>
					<xs:enumeration value="OR"/>
					<xs:enumeration value="NAND"/>
					<xs:enumeration value="NOR"/>
					<xs:enumeration value="SUM"/>
					<xs:enumeration value="AVG"/>
					<xs:enumeration value="MIN"/>
					<xs:enumeration value="MAX"/>
					<xs:enumeration value="COUNT"/>
					<xs:enumeration value="LATEST"/>
					<xs:enumeration value="EARLIEST"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="groups">
		<xs:sequence>
			<xs:element name="group" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="group"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="alexa">
		<xs:attribute name="inverted" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="primaryControl" type="xs:string" use="optional"/>
		<xs:attribute name="capabilityNames" type="xs:string" use="optional"/>
		<xs:attribute name="supportedCommands" type="xs:string" use="optional"/>
		<xs:attribute name="supportedRange" type="xs:string" use="optional"/>
		<xs:attribute name="unitOfMeasure" type="xs:string" use="optional"/>
		<xs:attribute name="actionMappings" type="xs:string" use="optional"/>
		<xs:attribute name="stateMappings" type="xs:string" use="optional"/>
		<xs:attribute name="alexa" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="knx.configuration">
		<xs:complexType>
			<xs:all>
				<xs:element name="bridge">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string" default="TUNNEL"/>
						<xs:attribute name="ip.address" type="xs:string"/>
						<xs:attribute name="port.number" type="xs:string" default="3671"/>
						<xs:attribute name="local.ip" type="xs:string"/>
						<xs:attribute name="reading.pause" type="xs:short" default="50"/>
						<xs:attribute name="response.timeout" type="xs:short" default="10"/>
						<xs:attribute name="read.retries.limit" type="xs:short" default="3"/>
						<xs:attribute name="auto.reconnect.period" type="xs:short" default="60"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="tunnel">
					<xs:complexType>
						<xs:attribute name="address" type="xs:string"/>
						<xs:attribute name="fetch" type="xs:boolean" default="true"/>
						<xs:attribute name="ping.interval" type="xs:short" default="300"/>
						<xs:attribute name="read.interval" type="xs:short" default="3600"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ical.configuration">
		<xs:complexType>
			<xs:all>
				<xs:element name="bridge">
					<xs:complexType>
						<xs:attribute name="url" type="xs:string" use="required"/>
						<xs:attribute name="refreshTime" type="xs:short" use="required"/>
						<xs:attribute name="username" type="xs:string" use="required"/>
						<xs:attribute name="password" type="xs:string" use="required"/>
						<xs:attribute name="maxSize" type="xs:short" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ical">
		<xs:complexType>
			<xs:attribute name="maxEvents" type="xs:short" use="required"/>
			<xs:attribute name="refreshTime" type="xs:short" use="required"/>
			<xs:attribute name="datetimeUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="MINUTE"/>
						<xs:enumeration value="HOUR"/>
						<xs:enumeration value="DAY"/>
						<xs:enumeration value="WEEK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datetimeStart" type="xs:string" use="required"/>
			<xs:attribute name="datetimeEnd" type="xs:string" use="required"/>
			<xs:attribute name="textEventField" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:pattern value="SUMMARY"/>
						<xs:pattern value="DESCRIPTION"/>
						<xs:pattern value="COMMENT"/>
						<xs:pattern value="CONTACT"/>
						<xs:pattern value="LOCATION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="textEventValue" type="xs:string" use="required"/>
			<xs:attribute name="textValueType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="TEXT"/>
						<xs:enumeration value="REGEX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="device.specification">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="PowerKNX"/>
			<xs:enumeration value="SteinelTruePräsenz"/>
			<xs:enumeration value="RolladenMDTKNX"/>
			<xs:enumeration value="ICALBinding"/>
			<xs:enumeration value="NTPBinding"/>
			<xs:enumeration value="LightKNXlight"/>
			<xs:enumeration value="LightKNXMiddle"/>
			<xs:enumeration value="LightKNXfull"/>
			<xs:enumeration value="GlastasterKNX"/>
			<xs:enumeration value="DoorEKEY"/>
			<xs:enumeration value="HTTP"/>
			<xs:enumeration value="DoorAccessKNX"/>
			<xs:enumeration value="DoorBellHTTP"/>
			<xs:enumeration value="TimeKNX"/>
			<xs:enumeration value="IDMKNX"/>
			<xs:enumeration value="Alexa"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ntp.configuration">
		<xs:complexType>
			<xs:all>
				<xs:element name="thing">
					<xs:complexType>
						<xs:attribute name="hostname" type="xs:string" use="required"/>
						<xs:attribute name="refreshInterval" type="xs:short" use="required"/>
						<xs:attribute name="refreshNtp" type="xs:short" use="required"/>
						<xs:attribute name="serverPort" type="xs:short" use="optional"/>
						<xs:attribute name="timeZone" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ekey.configuration">
		<xs:complexType>
			<xs:all>
				<xs:element name="thing">
					<xs:complexType>
						<xs:attribute name="ipAddress" type="xs:string" use="required"/>
						<xs:attribute name="port" type="xs:int" use="required"/>
						<xs:attribute name="protocol" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="RARE"/>
									<xs:enumeration value="MULTI"/>
									<xs:enumeration value="HOME"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="natIp" type="xs:string" use="optional"/>
						<xs:attribute name="delimiter" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="door.configuration">
		<xs:complexType>
			<xs:all>
				<xs:element name="thing">
					<xs:complexType>
						<xs:attribute name="baseURL" type="xs:string" use="required"/>
						<xs:attribute name="timeout" type="xs:short" use="required"/>
						<xs:attribute name="refresh" type="xs:short" use="required"/>
						<xs:attribute name="bufferSize" type="xs:short" default="2048"/>
						<xs:attribute name="delay" type="xs:short" use="required"/>
						<xs:attribute name="username" type="xs:string" use="optional"/>
						<xs:attribute name="password" type="xs:string" use="optional"/>
						<xs:attribute name="authMode" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="BASIC"/>
									<xs:enumeration value="BASIC_PREEMPTIVE"/>
									<xs:enumeration value="TOKEN"/>
									<xs:enumeration value="DIGEST"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="stateMethod" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="GET"/>
									<xs:enumeration value="PUT"/>
									<xs:enumeration value="POST"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="commandMethod" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="GET"/>
									<xs:enumeration value="PUT"/>
									<xs:enumeration value="POST"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="contentType" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="PUT"/>
									<xs:enumeration value="POST"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ignoreSSLErrors" type="xs:boolean" use="required"/>
						<xs:attribute name="strictErrorHandling" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="area.map">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" type="param" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="param">
		<xs:attribute name="short" type="xs:string" use="required"/>
		<xs:attribute name="long" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="idm.map">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" type="param" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="alexa.configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bridge">
					<xs:complexType>
						<xs:attribute name="discoverSmartHome" type="xs:short" use="required"/>
						<xs:attribute name="pollingIntervalSmartHomeAlexa" type="xs:short" use="required"/>
						<xs:attribute name="pollingIntervalSmartSkills" type="xs:short" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="thing" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="serial" type="xs:string" use="required"/>
						<xs:attribute name="deviceid" type="xs:short" use="required"/>
						<xs:attribute name="type" type="alexa.device.type" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="alexa.communication">
		<xs:complexType>
			<xs:attribute name="device.type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="echo"/>
						<xs:enumeration value="echospot"/>
						<xs:enumeration value="echoshow"/>
						<xs:enumeration value="wha"/>
						<xs:enumeration value="flashbriefingprofile"/>
						<xs:enumeration value="smartHomeDevice"/>
						<xs:enumeration value="smartHomeDeviceGroup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="device.channel" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="alexa.device.type">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="echo"/>
			<xs:enumeration value="echospot"/>
			<xs:enumeration value="echoshow"/>
			<xs:enumeration value="wha"/>
			<xs:enumeration value="flashbriefingprofile"/>
			<xs:enumeration value="smartHomeDevice"/>
			<xs:enumeration value="smartHomeDeviceGroup"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>